* {
    font-family: Roboto, Helvetica, sans-serif;
}
body {
    background-color: #009933;
}    
.main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    max-width: 1024px;
    background-color: #FAFAD2;
    padding: 10px;
    overflow: auto;
}

footer {
    clear: both;
}



section hr {
    clear: both;
}
p {
    display: block;
    font-size: 16px;
    font-family: Roboto, Helvetica, sans-serif;

}

/* heading styles */
h1 {
    font-size: 28px;
    font-family: Roboto, Helvetica, sans-serif;
    font-weight: bold;
    display: block;
    clear: both;
    padding-bottom: 10px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    clear: both;
    padding-bottom: 5px;
}

h3 {
    background-color: lightgreen;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;

}
h4 {
    font-size: 14px;
    font-style: italic;
    padding-bottom: 5px;

}

/* image classes and IDs */

#bio {
    float: right;
    padding-right: 10px;
    max-width: 100px;
}

.bookcover-left {
    float: left;
    padding-right: 10px;
    max-width: 221px;   
}
.bookcover-right {
    float: right;
    padding-right: 10px;
    max-width: 221px;   
}

/* List styles */

ul {
    list-style-type: square;
}

ul li {
    margin-left: 10px;
}

li {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 16px;
    padding-bottom: 2px;
}

/*nav ul {
    display: inline-block;
}*/
nav ul li {
    display: inline-block;
    margin-right: 10px;
}
nav ul li ul li {
    display: inline-block;
    margin-right: 5px;
}

/* anchor styles */
a {
    text-decoration: none;
}

a:hover {
    color: red;
}

a:visited {
    color: gray;
}